body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.list_ul {
    padding: 40px 12% 40px 12%;
}

.list_li {
    padding: 5px 0px 5px 0px
}
.blog {
    padding: 40px 12% 40px 12%;
}